blinker==1.8.2
cffi==1.17.1
click==8.1.7
colorama==0.4.6
cryptography==43.0.1
distlib==0.3.9
docutils==0.21.2
et-xmlfile==1.1.0
filelock==3.16.1
Flask==2.3.0
Flask-Cors==5.0.0
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.23.0
marshmallow-sqlalchemy==1.1.0
numpy==2.1.3
openpyxl==3.1.5
oracledb==2.0.0
packaging==24.2
pandas==2.2.2
pillow==11.0.0
platformdirs==4.3.6
pycparser==2.22
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pywin32==308
scipy==1.14.1
six==1.16.0
SQLAlchemy==2.0.36
statistics==1.0.3.5
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.27.0
Werkzeug==3.0.4
